<div>
  Hello, main app
</div>
<!-- Demo to pass somethinng inside the ng-content -->
<app-ng-content>I want to pass some thing</app-ng-content>
<!-- Demo put the element has attr questioin into the correct ng-content -->
<app-ng-content>
  <p question>
    Is content projection cool?
  </p>
  <p>Let's learn about content projection!</p>
</app-ng-content>
<!-- Demo pass component inside the ng-content -->
<app-ng-content><app-ng-child></app-ng-child></app-ng-content>
<router-outlet></router-outlet>
